[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jedi = "*"
pylint = "*"
pytest = "*"
doq = "*"

[packages]
python-daemon = "~=2.2.4"
bpfbox = {editable = true, path = "."}
netaddr = "*"
pyparsing = "*"
pyyaml = "*"
jsonschema = "*"
toml = "*"

[requires]
python_version = "3.8"
